h1 {
    margin-bottom: 50px;
}

.box {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    color: #fff;
    margin: 25px;
    float: left;
    position: relative;
}

.box>img{
    position: absolute;
    top: -40px;
    right: -40px
}

#red-box {
    background-color: red;
}

#orange-box {
    background-color: orange;

}
#yellow-box {
    background-color: yellow;
}
#green-box {
    background-color: green;
}
#blue-box {
    background-color: blue;
}
#violet-box {
    background-color: violet;
}

#ribbon {
    position: fixed;
    top: 0;
    right: 0;
}

div:nth-child(odd) {
    clear: both;
}